@font-face {
  font-family: "myfont";
  src: url(../fonts/Inter-Bold.otf)
}

@font-face {
  font-family: "myfont2";
  src: url(../fonts/Inter-Light.otf);
}

@font-face {
  font-family: "myfont3";
  src: url(../fonts/Inter-Black.otf);
}

@font-face {
  font-family: "myfont4";
  src: url(../fonts/Inter-Medium.otf);
}

@font-face {
  font-family: "supreme-light";
  src: url(../fonts/Supreme-Light.otf);
}

@font-face {
  font-family: "tanker";
  src: url(../fonts/Tanker-Regular.otf);
}

::-webkit-scrollbar {
  display: none;
}


body {
  position: relative;
  height: 2000px;
  overflow-x: hidden;
  font-family: "myfont";
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #121212;
  background-image: -webkit-radial-gradient(#121212 4%, #121212 9%, rgba(0, 0, 0, 0) 9%), -webkit-radial-gradient(#121212 4%, #121212 8%, rgba(0, 0, 0, 0) 10%), -webkit-radial-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0)), -webkit-radial-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0)), -webkit-radial-gradient(#121212 35%, rgba(0, 0, 0, 0) 60%), -webkit-radial-gradient(#121212 35%, rgba(0, 0, 0, 0) 60%), -webkit-radial-gradient(rgba(18, 18, 18, 0.7), rgba(0, 0, 0, 0)), -webkit-radial-gradient(rgba(18, 18, 18, 0.7), rgba(0, 0, 0, 0)), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 49%, #b3b3b3 50%, rgba(0, 0, 0, 0) 70%), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 49%, #b3b3b3 50%, rgba(0, 0, 0, 0) 70%);
  background-position: 0 0px, 50px 50px, 50px 0px, 0 50px, 50px 0px, 100px 50px, 0 0px, 50px 50px, 0 0px, 0 0;
  background-size: 100px 100px;
}

/*----------------------------------------GRAYBOX-------------------------------------------------*/

#graybox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px 0;
  position: relative;
  padding: 0px;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.bg-blur {
  position: relative;
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  min-height: 88vh;
  min-width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  top: -11%;
}

/*----------------------------------------GRAYBOX-------------------------------------------------*/

/*----------------------------------------NAVIGATION-------------------------------------------------*/
.navigation {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-mask-image: linear-gradient(black 70%, transparent);
}

.navigation-logo {
  padding: 0px;
  margin: 0px;
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#KCC {
  font-size: 20px;
  font-family: "myfont3";
}

#CINEMA {
  font-size: 20px;
  font-family: "myfont2";
}

.navigation-text {
  flex: 5.5;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#kcc-logo {
  width: 60px;
  height: 30px;
  flex-shrink: 0;
  padding: 0 0 0 5px;
  margin: 0;
}

.navigation-text>ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navigation-text>ul>li {
  list-style: none;
}

.navigation-text>ul>li>a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 15px;
  transition: 0.3s;
  margin: 0px 0px;
  font-family: "myfont";
  letter-spacing: 1.6px;
  position: relative;
}

.navigation-text>ul>li>a:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  opacity: 0;
  transition: 0.3s;
}

.navigation-text>ul>li>a:hover {
  color: skyblue;
  background-color: #000000cc;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}




.navigation-signup {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.glass-button {
  color: #fff;
  font-family: "myfont";
  font-size: 12px;
  width: 61px;
  height: 24px;
  padding: 0 5px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: linear-gradient(98deg,
      rgba(255, 255, 255, 0.45) 3.68%,
      rgba(255, 255, 255, 0.03) 100%);
}

#signup {
  margin: 0 5px;
}

#globe {
  padding: 0 5px;
  margin: 0;
}

#word {
  font-size: 12px;
  padding: 0 5px;
  margin: 0;
}

/*----------------------------------------NAVIGATION-------------------------------------------------*/
/* -------------------------- CURTAINS------------------------------------------ */

.rnOuter {
  position: absolute;
  width: 100%;
  left: -48%;
  top: -1px;
  height: 100vh;
}

.rnInner {
  width: 100%;
  position: absolute;
  top:-10%; right: 0; bottom: 0; left: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 6s ease-out;
  transform-origin: -120% top;
  
}

.rnUnit {
  width: 10vw;
  height: 180%;
  background: repeating-linear-gradient(to left, hsl(0, 80%, 50%) 4vw, hsl(0, 80%, 30%) 8vw, hsl(0, 80%, 70%) 10vw);
  background-size: 100% 100%;
  display: inline-block;
  transform-origin: 0 0%;
  transform: rotate(0deg);
  padding: 0 0px;
  margin: 0 -8px;
  -webkit-animation: rnUnit 2s ease infinite;
  animation: rnUnit 2s ease infinite;
}

@keyframes rnUnit {
  50% {
      transform: rotate(-1deg) ;
  }
}

.rnUnit:nth-child(1) {
  animation-delay: -0.1s;
}
.rnUnit:nth-child(2) {
  animation-delay: -0.2s;
}
.rnUnit:nth-child(3) {
  animation-delay: -0.3s;
}
.rnUnit:nth-child(4) {
  animation-delay: -0.4s;
}
.rnUnit:nth-child(5) {
  animation-delay: -0.5s;
}
.rnUnit:nth-child(6) {
  animation-delay: -0.6s;
}
.rnUnit:nth-child(7) {
  animation-delay: -.7s;
}
.rnUnit:nth-child(8) {
  animation-delay: -.8s;
}
.rnUnit:nth-child(9) {
  animation-delay: -.9s;
}
.rnUnit:nth-child(10) {
  animation-delay: -1s;
}

.rnOuter2 {
  position: absolute;
  width: 100%;
  right: -50%; /* Change left to right */
  top: -1px;
  height: 100vh;
}

.rnInner2 {
  width: 100%;
  position: absolute;
  top: -10%; /* Change from top to bottom */
  left: 0; /* Change right to left */
  bottom: 0; /* Change top to bottom */
  right: 0; /* Change left to right */
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 6s ease-out;
  transform-origin: 120% bottom; /* Opposite direction */
}

.rnUnit2 {
  width: 10vw;
  height: 180%;
  background: repeating-linear-gradient(
    to left, /* Change to right */
    hsl(0, 80%, 50%) 4vw,
    hsl(0, 80%, 30%) 8vw,
    hsl(0, 80%, 70%) 10vw
  );
  background-size: 100% 100%;
  display: inline-block;
  transform-origin: 0 0; /* Opposite direction */
  transform: rotate(0deg);
  padding: 0 0px;
  margin: 0 -8px;
  -webkit-animation: rnUnit2 2s ease infinite;
  animation: rnUnit2 2s ease infinite;
}

@keyframes rnUnit2 {
  50% {
    transform: rotate(1deg); /* Opposite rotation */
  }
}

.rnUnit2:nth-child(1) {
  animation-delay: 0.1s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(2) {
  animation-delay: 0.2s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(3) {
  animation-delay: 0.3s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(4) {
  animation-delay: 0.4s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(5) {
  animation-delay: 0.5s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(6) {
  animation-delay: 0.6s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(7) {
  animation-delay: 0.7s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(8) {
  animation-delay: 0.8s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(9) {
  animation-delay: 0.9s; /* Change negative delay to positive */
}
.rnUnit2:nth-child(10) {
  animation-delay: 1s; /* Change negative delay to positive */
}

.rnOuter .rnInner {
  transform-origin: 0 top;
  transform: scaleX(1);
  animation: openAnimation1 3s ease-in-out  forwards; 
}

.rnOuter2 .rnInner2 {
  transform-origin: 0 top;
  transform: scaleX(1);
  animation: openAnimation2 3s ease-in-out  forwards;
}

@keyframes openAnimation1 {
  0% {
    transform-origin: -120% top;
    transform: scaleX(1); 
  }

  50% {
    transform-origin: -120% top;
    transform: scaleX(.5); 
  }

  100% {
    transform-origin: -120% top;
    transform: scaleX(0);
  }
}

@keyframes closeAnimation1 {
  0% {
    transform-origin: -120% top;
    transform: scaleX(0); 
  }

  50% {
    transform-origin: -120% top;
    transform: scaleX(.5); 
  }

  100% {
    transform-origin: -120% top;
    transform: scaleX(1);
  }
}

@keyframes openAnimation2 {
  0% {
    transform-origin: 120% top;
    transform: scaleX(1);
  }

  50% {
    transform-origin: 120% top;
    transform: scaleX(.5); 
  }

  100% {
    transform-origin: 120% top;
    transform: scaleX(0);
  }
}

@keyframes closeAnimation2 {
  0% {
    transform-origin: 120% top;
    transform: scaleX(0); 
  }

  50% {
    transform-origin: 120% top;
    transform: scaleX(.5); 
  }

  100% {
    transform-origin: 120% top;
    transform: scaleX(1);
  }
}

/*----------------------------------------SLIDESHOW-------------------------------------------------*/

#background-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}

#showcase-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-size: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: perspective(700px) rotateX(-6deg);
  transform: translate(-50%, -50%);
}

.centerbox {
  display: flex;
  position: sticky;
  overflow: hidden;
  top: 10%;
  left: 6.5%;
  z-index: -2;
  width: 87%;
  height: 25%;
  margin: 0;
  padding: 0;
  -webkit-transform: perspective(700px) rotateX(-6deg);
  -webkit-box-shadow: 1px -3px 50px -13px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px -3px 50px -13px rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 45px -8px rgba(255, 255, 255, 1);
  outline: 0px 2px solid rgba(255, 255, 255, 0.5); /* Add a blurry white border */
  border-radius: 5px;
}




#kcc-logo-showcase {
  position: absolute;
  width: 75px;
  height: auto;
  flex-shrink: 0;
  bottom: 2%;
  left: 2%;
  padding: 0;
  margin: 0;
}

.centerbox > img {
  -webkit-transform: perspective(700px) rotateX(-6deg);
}

/*----------------------------------------SLIDESHOW-------------------------------------------------*/


.box2 > h1 {
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 0%;
  background: #000000;
  color: white;
  padding: 10px 10px 10px 14px;
}

/*----------------------------------------SHOWCASE-------------------------------------------------*/


a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit color from parent element */
}

/*----------------------------------------SHOWCASE-------------------------------------------------*/

/* TRENDING */

.box2 {
  position: absolute;
  width: 100%;  
  height: 1000px;
  margin: 0;
  padding: 0;
  background-color: #330000;
  background-image: -webkit-radial-gradient(#890000 4%, #5B0000 9%, rgba(102, 0, 0, 0) 9%), -webkit-radial-gradient(#890000 4%, #5B0000 8%, rgba(102, 0, 0, 0) 10%), -webkit-radial-gradient(rgba(153, 0, 0, 0.8) 20%, rgba(102, 0, 0, 0)), -webkit-radial-gradient(rgba(153, 0, 0, 0.8) 20%, rgba(102, 0, 0, 0)), -webkit-radial-gradient(#660000 35%, rgba(102, 0, 0, 0) 60%), -webkit-radial-gradient(#660000 35%, rgba(102, 0, 0, 0) 60%), -webkit-radial-gradient(rgba(76, 0, 0, 0.7), rgba(102, 0, 0, 0)), -webkit-radial-gradient(rgba(76, 0, 0, 0.7), rgba(102, 0, 0, 0)), -webkit-linear-gradient(45deg, rgba(102, 0, 0, 0) 49%, #000000 50%, rgba(102, 0, 0, 0) 70%), -webkit-linear-gradient(135deg, rgba(102, 0, 0, 0) 49%, #000000 50%, rgba(102, 0, 0, 0) 70%);
  background-position: 0 0px, 50px 50px, 50px 0px, 0 50px, 50px 0px, 100px 50px, 0 0px, 50px 50px, 0 0px, 0 0;
  background-size: 100px 100px;
  -webkit-box-shadow: inset 13px -57px 300px 76px rgba(18,18,18,1);
  -moz-box-shadow: inset 13px -57px 300px 76px rgba(18,18,18,1);
  box-shadow: inset 13px -50px 300px 76px rgba(18,18,18,1);
  border-top: 21px solid #4E0B10;
  top: 55%;
}


video {
  display: flex;
  flex: 3;
  margin: 0;
  padding: 20px;
  width: 800px;
  height: auto;
}


@media only screen and (max-width: 1280px) {


  li {
    font-size: 12px;
    padding: 0px 30px;
  }

}


@media only screen and (min-width: 1300px) {


  #KCC {
    font-size: 24px;
  }

  #CINEMA {
    font-size: 24px;
  }

  #kcc-logo {
    width: 65px;
    height: 35px;
  }

  li {
    font-size: 16px;
    padding: 0 40px;
  }

  .glass-button {
    font-size: 16px;
    width: 80px;
    height: 30px;
  }

  #signup {
    margin: 0 10px;
  }

  #word {
    font-size: 16px;
  }
}



/* ------------------NOW SHOWING --------------------------- */

#cinema-seat {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -50%;
  z-index: -1;
}

#now-showing {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -12%;
  left: 24%;
  height: auto;
  width: 645px;
  filter: drop-shadow(-8px 1px 16px #fff36b);
}

/* #spotlight {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 20%;
  z-index: 0;
} */

.container1 {
  position: relative;
  width: 95%;
  height: 460px;
  transition: all 400ms;
  top: 25%;
  padding: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 2.5% 2.5%;
  z-index: 2;
}

.inside_container {
  position: absolute;
  display: flex;
  align-items: center;
  width: auto;
  height: 450px;
  flex-direction: row;
}

.container_box, .container_box1, .container_box2 { 
  scroll-snap-align: start;
  position: relative;
  display: flex;
  transition: all 400ms;
  width: 1055px;
  height: 450px;
  flex-direction: row;
  margin: 0;
  padding: 0 75px;
}

.container_box > .box, .container_box1 > .box, .container_box2 > .box {
  position: relative;
  background-size: cover;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  display: flex;
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  flex-direction: row;
  overflow: hidden;
  width: 285px;
  margin: 0 24px;
  height: auto;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 15px solid #000;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.container1_nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 21.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: 22%;
}

.container1_nav > a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.container1_nav > a:hover {
  opacity: 1;
}


.light {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

/* Position the lights as needed */
.light.light1 {
  top: 20px;
  left: 20px;
}

.light.light2 {
  top: 20px;
  right: 20px;
}

.light.light3 {
  bottom: 20px;
  left: 20px;
}

.light.light4 {
  bottom: 20px;
  right: 20px;
}

/* .ray-lights-left {
  display: block;
  z-index: 1;
  position: absolute;
  bottom: 0%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 383px;
  background: rgb(238,221,130);
  background: linear-gradient(0deg, rgba(238,221,130,1) 0%, rgba(238,221,130,1) 25%, rgba(28,0,255,0) 75%, rgba(28,0,255,0) 100%);
  rotate: 36deg;
  -webkit-transform: perspective(231px) rotateX(301deg);
} */



/* Set a maximum width and height for images inside .box elements */
.box img {
  object-fit: cover;
  position: relative;
  width: calc(100% - 10px); 
  height: calc(100% - 10px); 
  padding: 5px; 
  background-color: #fff;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}

.box-description {
  position: absolute;
  display: flex;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,.7);
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  flex-direction: column;
}

.box:hover .box-description{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.box:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}

.box:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.box-description h1{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 5px;
  font-size: 22px;
}

.box-description p{
  line-height: 24px;
  height: 70%;
}

.box-description button{
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
}

.box button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}



/* .box-1-desc > h1 {
  padding: 0;
  margin: 15px 0px 0 11px;
  color: white;
  text-transform: uppercase;
}

.box-1-desc > p {
  padding: 0;
  margin: 20px 0px 0 11px;
  color: white;
}

.box-1-desc > a > img {
  height: 140px;
  width: 262px;
  border-radius: 7px;
  padding: 0;
  margin: 15px 11px 0 11px;
  object-fit: cover;
} */


.container1:hover .box {
  filter: grayscale(100%) opacity(24%);
}

/* .box:hover::after {
  transform: translateY(0);
  opacity: 1;
  border-radius: 0;
  transition-delay: 400ms;
} */

.container1 .box:hover {
  filter: grayscale(0%) opacity(100%);
}

/* .container_box:has(.box-1:hover) {
  grid-template-columns: 3fr .5fr .5fr;
} */

/* .container_box:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr;
}

.container_box:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr;
}

.container1:has(.box-4:hover) {
  grid-template-columns: 3fr 1fr 1fr;
}

.container1:has(.box-5:hover) {
  grid-template-columns: 1fr 3fr 1fr;
}

.container1:has(.box-6:hover) {
  grid-template-columns: 1fr 1fr 3fr;
} */




.box3 {
  display: flex;
  background: #121212;
  -webkit-box-shadow: 13px -103px 300px 102px rgba(18,18,18,1);
  -moz-box-shadow: 13px -103px 300px 102px rgba(18,18,18,1);
  box-shadow: 13px -103px 300px 102px rgba(18,18,18,1);
  flex-direction: column;
  width: 100%;
  height: 1000px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100%;
}

.container2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100% ;
}

.food-section {
  background: rgba(255, 255, 255, 0.1803921568627451);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  flex: 2;
  width: 100%;
  height: 900px;
  margin: 50px 20px;
  padding: 0;
}

.coming-soon-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex: 8;
  width: 100%;
  height: 900px;
  overflow: hidden;
  margin: 50px 0px;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}

.card {
  position: relative;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 950px;
  margin: 0 20px;
  height: 500px;
  flex-direction: column;
  gap: 1rem;
  margin: 20px 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card-text {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 950px;
  height: 202.21px;
  position: absolute;
  z-index: 2;
  top: 60%;
  background: rgba(18, 18, 18, 0.1803921568627451);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff;
}

.card-text > div >h1 {
  padding: 0;
  margin: 20px 0 5px 20px;
}

.card-text > div > p {
  padding: 0;
  margin: 20px 0 5px 20px;
}

.card-text > div > p > a {
  padding: 0;
  margin: 20px 0 5px 0px;
  transition: all 500ms ease-in-out;
}

.card-text > div > p > a:hover {
  color: aqua;
}

.card-text > div > button {
  position: absolute;
  right: 2%;
  bottom: 7%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #fff;
  font-size: 15px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: solid #fff 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

.card-text > div > button:hover {
  border-color: aqua;
  color: aqua;
}

.box4 {
  background: rgba( 18, 18, 18, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  color: #fff;
  height: 330px;
  font-family: "myfont2";
  position: absolute;
  bottom: -66%;
  width: 100%;
}


.navigation-logo-footer {
  position: absolute;
  top: 0%;
  left: 4%;
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.row {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 7%;
  left: 3%;
}

.col1 {
  flex-basis: 25%;
  padding: 10px;
  text-align: justify;
  font-family: "supreme-light";
}

.col1 > p {
  font-size: 12px;
}

#about-Us {
  border-bottom: 3px solid rgb(152, 147, 147);
  display: inline-block;
  border-radius: 2px;
}


.col2 {
  flex-basis: 25%;
  padding: 10px;
  text-align: justify;
  font-family: "supreme-light";
}

.col2 > p{
  font-size: 12px;
}

#get-Touch {
  border-bottom: 3px solid rgb(152, 147, 147);
  display: inline-block;
  border-radius: 2px;
}



.col3 {
  flex-basis: 25%;
  padding: 10px;
  text-align: justify;
  font-family: "supreme-light";
}

.col3 > p {
  font-size: 12px;
}



#stay-Connected {
  border-bottom: 3px solid rgb(152, 147, 147);
  display: inline-block;
  border-radius: 2px;
}
/*-------FOOTER - EMAIL FORM-------*/
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  font-family: "supreme-light";
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: none;
  outline: none;
}

form button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icon .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.social-icon a:hover .fab {
  background-color: #101013;
  color: #ccc;
  transform: translateY(-10px);
}

/*.social-icon a:active .fab {
  font-size: 100px;
}*/

hr {
  margin-right: 82px;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 11%;
  width: 100%;
}

.end-footer {
  justify-content: space-between;
  display: flex;
  margin-right: 90px;
  position: absolute;
  bottom: 0%;
  margin: 0;
  font-size: 13px;
  padding: 0;
  left: 1%;
}

#kccfooter {
  height: auto;
  width: 400px;
  position: absolute;
  bottom: -62%;
  left: 35%;
  z-index: -1;
}

#decor-lineRemove {
  text-decoration: none;
  color: inherit;
}
