@font-face {
  font-family: "myfont";
  src: url(../fonts/Inter-Bold.otf)
}

@font-face {
  font-family: "myfont2";
  src: url(../fonts/Inter-Light.otf);
}

@font-face {
  font-family: "myfont3";
  src: url(../fonts/Inter-Black.otf);
}

@font-face {
  font-family: "myfont4";
  src: url(../fonts/Inter-Medium.otf);
}

@font-face {
  font-family: "supreme-light";
  src: url(../fonts/Supreme-Light.otf);
}

@font-face {
  font-family: "tanker";
  src: url(../fonts/Tanker-Regular.otf);
}

::-webkit-scrollbar {
  display: none;
}


body {
  position: relative;
  height: 1500px;
  overflow-x: hidden;
  font-family: "myfont";
  color: #121212;
  padding: 0;
  margin: 0;
}

/*----------------------------------------GRAYBOX-------------------------------------------------*/

#graybox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px 0;
  position: relative;
  padding: 0px;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.bg-blur {
  position: relative;
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  min-height: 88vh;
  min-width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  top: -11%;
}

/*----------------------------------------GRAYBOX-------------------------------------------------*/

/*----------------------------------------NAVIGATION-------------------------------------------------*/
.navigation {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-mask-image: linear-gradient(black 70%, transparent);
}

.navigation-logo {
  padding: 0px;
  margin: 0px;
  flex: 2.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#KCC {
  font-size: 20px;
  font-family: "myfont3";
}

#CINEMA {
  font-size: 20px;
  font-family: "myfont2";
}

.navigation-text {
  flex: 5.5;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#kcc-logo {
  width: 60px;
  height: 30px;
  flex-shrink: 0;
  padding: 0 0 0 5px;
  margin: 0;
}

.navigation-text>ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navigation-text>ul>li {
  list-style: none;
}

.navigation-text>ul>li>a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 15px;
  transition: 0.3s;
  margin: 0px 0px;
  font-family: "myfont";
  letter-spacing: 1.6px;
  position: relative;
}

.navigation-text>ul>li>a:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  opacity: 0;
  transition: 0.3s;
}

.navigation-text>ul>li>a:hover {
  color: skyblue;
  background-color: #000000cc;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}




.navigation-signup {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.glass-button {
  color: #fff;
  font-family: "myfont";
  font-size: 12px;
  width: 61px;
  height: 24px;
  padding: 0 5px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: linear-gradient(98deg,
      rgba(255, 255, 255, 0.45) 3.68%,
      rgba(255, 255, 255, 0.03) 100%);
}

#signup {
  margin: 0 5px;
}

#globe {
  padding: 0 5px;
  margin: 0;
}

#word {
  font-size: 12px;
  padding: 0 5px;
  margin: 0;
}

/*----------------------------------------NAVIGATION-------------------------------------------------*/


/*----------------------------------------SLIDESHOW-------------------------------------------------*/

#background-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}

#showcase-video {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerbox {
  display: flex;
  position: relative;
  overflow: hidden;
  top: -13%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 87%;
  height: 40%;
  margin: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.borderbox {
  position: absolute;
  border: solid 1px #FFD700;
  top: -13%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 85%;
  height: 41%;
  margin: 0;
  padding: 0;
  -webkit-clip-path: polygon(0 0, 89% 0, 100% 14%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
  clip-path: polygon(0 0, 95.40% 0, 100% 9.3%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}

.borderbox::before {
  content: "";
  position: absolute;
  top: -4%;
  right: -21.99%;
  border-top: 1px solid #FFD700;
  border-right: 1px solid #FFD700;
  width: 85%;
  height: 41%;
  transform: translateY(-51%) rotate(44deg);
  z-index: 4;
}


#kcc-logo-showcase {
  position: absolute;
  width: 75px;
  height: auto;
  flex-shrink: 0;
  bottom: 2%;
  left: 2%;
  padding: 0;
  margin: 0;
}

/*----------------------------------------SLIDESHOW-------------------------------------------------*/


.box2>h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 1.5%;
}

/*----------------------------------------SHOWCASE-------------------------------------------------*/


a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit color from parent element */
}

/*----------------------------------------SHOWCASE-------------------------------------------------*/

/* TRENDING */

.box2 {
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: #11232e;
  background-image: radial-gradient(#000000 0.65px, #e5e5f7 0.65px);
  background-size: 13px 13px;
}


video {
  display: flex;
  flex: 3;
  margin: 0;
  padding: 20px;
  width: 800px;
  height: auto;
}


@media only screen and (max-width: 1280px) {


  li {
    font-size: 12px;
    padding: 0px 30px;
  }

}


@media only screen and (min-width: 1300px) {


  #KCC {
    font-size: 24px;
  }

  #CINEMA {
    font-size: 24px;
  }

  #kcc-logo {
    width: 65px;
    height: 35px;
  }

  li {
    font-size: 16px;
    padding: 0 40px;
  }

  .glass-button {
    font-size: 16px;
    width: 80px;
    height: 30px;
  }

  #signup {
    margin: 0 10px;
  }

  #word {
    font-size: 16px;
  }
}



/* ------------------NOW SHOWING --------------------------- */

.container1 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 90%;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 400ms;
  top: -19%;
  left: 5%;
  padding: 0;
  margin: 0;
}

.box {
  position: relative;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Set a maximum width and height for images inside .box elements */
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-3>.movie-link {
  width: auto;
  /* Allow the image to retain its original aspect ratio */
  height: 100%;
  /* 100% height of the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  position: absolute;
  /* Position the image absolutely within the container */
  top: 0;
  /* Adjust top, left, right, or bottom values as needed */
  left: -557px;
  right: -197px;
  bottom: 0;
  margin: auto;
  /* Center the image within the container */
}

.box-4>.movie-link {
  width: auto;
  /* Allow the image to retain its original aspect ratio */
  height: 100%;
  /* 100% height of the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  position: absolute;
  /* Position the image absolutely within the container */
  top: 0;
  /* Adjust top, left, right, or bottom values as needed */
  left: -425px;
  right: -325px;
  bottom: 0;
  margin: auto;
  /* Center the image within the container */
}

.box-5>.movie-link {
  width: auto;
  /* Allow the image to retain its original aspect ratio */
  height: 100%;
  /* 100% height of the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  position: absolute;
  /* Position the image absolutely within the container */
  top: 0;
  /* Adjust top, left, right, or bottom values as needed */
  left: -352px;
  right: -143px;
  bottom: 0;
  margin: auto;
  /* Center the image within the container */
}

.box-6>.movie-link {
  width: auto;
  /* Allow the image to retain its original aspect ratio */
  height: 100%;
  /* 100% height of the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  position: absolute;
  /* Position the image absolutely within the container */
  top: 0;
  /* Adjust top, left, right, or bottom values as needed */
  left: -295px;
  right: -463px;
  bottom: 0;
  margin: auto;
  /* Center the image within the container */
}

.box-7>.movie-link {
  width: auto;
  /* Allow the image to retain its original aspect ratio */
  height: 100%;
  /* 100% height of the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  position: absolute;
  /* Position the image absolutely within the container */
  top: 0;
  /* Adjust top, left, right, or bottom values as needed */
  left: -336px;
  right: -224px;
  bottom: 0;
  margin: auto;
  /* Center the image within the container */
}


.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000000;
  color: white;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.movie-link {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container1:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

.container1 .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container1:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container1:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

.container1:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}

.container1:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}

.container1:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}

.container1:has(.box-6:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}

.container1:has(.box-7:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}
